*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
}

.container{
    height: 100vh;
    transition: opacity 0.5s ease-out;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container .top{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(1, 1, 45);
}

.container .top{
    color: white;
}

.container .top .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.container .top .logo span{
    color: rgb(9, 173, 173);
}

.container .top .logo img{
    width: 55px;
    height: 55px;
}

.login-link a{
    color: rgb(203, 239, 239);
}

.login-link a:hover {
    text-decoration: underline;
}

.bottom {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.bottom .box {
    background-color: #ffffff; 
    width: 40%; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    box-sizing: border-box; 
    text-align: center; 
    transition: all 0.3s ease; 
    min-width: 400px;
}

.bottom .box:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

.bottom h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.bottom p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;

}

/* Form Styles */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #618595;
    outline: none;
}

form .button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-otp-btn , .verify-btn , .update-btn{
    width: 30%;
    padding: 12px;
    font-size: 14px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.send-otp-btn:hover, .verify-btn:hover, .update-btn:hover{
    background-color: rgb(9, 162, 162);
    border: none;
}

.form-invalid{
    margin-top: 5px;
    color: rgb(233, 11, 11);
    font-size: 14px;
}
.otp-inputs {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.otp-box {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.reset-btn , .verify-btn :hover {
    background-color: rgb(4, 72, 72);
}

.reset-btn:focus {
    outline: none;
}
