

.content main .item-orders{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

.content main .item-orders>div{
    border-radius: 20px;
    background: var(--light);
    padding: 18px;
    overflow-x: auto;
    width: 100%;
}

.content main .item-orders .header{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.content main .item-orders .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .item-orders .header svg{
   cursor: pointer;
}

.content main .item-orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .item-orders table th{
    padding-bottom: 12px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--light-success);
}

.content main .item-orders table td{
    padding: 16px 0;
}

.content main .item-orders table tr td:first-child{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

.content main .item-orders table td img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .item-orders table tbody tr{
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
    
.content main .item-orders table tbody tr:hover{
    background: var(--grey);
}

.content main .item-orders table tbody tr td .status{
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 700px;
}

.Action {
    display: flex;
    gap: 10px; 
}

.Action .delete svg:hover{
    fill: red;
}

.action-btn .view-btn{
    background: var(--light-primary);
    color: var(--light);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-btn .cancel-btn{
    
    background: var(--light-danger);
    color: lightcoral;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media screen {
    
}

