.content main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light-primary);
}


.content main .profile{
    background-color: snow;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
}

.content main .profile form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content main .profile .profile-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.content main .profile .profile-top img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.content main .profile .profile-center{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    border: solid 1px teal;
    border-radius: 10px;
}

.content main .profile .profile-center .left, .right{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 10px;
}

.content main .profile .profile-bottom{
    display: flex;
    gap: 10px;
    border: solid 1px teal;
    border-radius: 10px;
}

.content main .profile .profile-bottom .group{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 10px;
}

.content main .profile input{
    height: 40px;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    padding: 0 20px;
    border: none;
    gap: 1rem;
    background-color: rgb(232, 232, 232);
}

 #msg{
    background-color: rgb(247, 247, 247);
    height: 400px;
    width: 80%;
    max-width: 400px;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid gainsboro;
    gap: 1rem;
}

.content main .profile .profile-actions{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content main .profile .profile-actions .group button, .change-btn, .delete{
    background-color: #2c8379;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
}

.content main .profile .profile-actions .delete{
    background-color: rgb(240, 4, 4);
    transition: all 0.3s ease;
}

.content main .profile .profile-actions .delete :hover{
    background-color: rgb(185, 6, 6);
}
