:root {
    --light: rgb(255, 255, 255);
    --primary: rgb(36, 36, 118);
    --light-primary: teal;
    --grey: rgb(239, 239, 239);
    --dark-grey: rgb(95, 88, 88);
    --dark: rgb(55, 145, 157);
    --danger: rgb(222, 5, 5);
    --light-danger: rgb(233, 248, 251);
    --warning : rgb(49, 115, 161);
    --light--warning: rgb(158, 213, 255);
    --success: rgb(126, 197, 200);
    --light-success: #016c6cde;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--grey);
    overflow-x: hidden;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 200px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .top svg{
    margin-top: -10px;
    margin-right: 5px;
    display: none;
}

.sidebar.close{
    width: 60px;
    transition: all 0.3s ease;
}

.sidebar .logo{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    gap: 1rem;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo img{
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 0.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 35px;
}

.sidebar .side-menu li{
    height: 48px;
    margin-left: 8px;
    border-radius: 48px 0 0 48px;
    padding: 5px;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark-grey);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease-out;
    gap: 5px;
}


.sidebar.close .side-menu li a{
    width: 40px;
    transition: all 0.3s ease-out;
}

.sidebar .side-menu li a svg {
    margin-left: 0.4rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    min-width: 28px;
    fill: var(--dark-grey);
    transition: all 0.3s ease;
}

.sidebar .side-menu li a.active{
    background: teal;
    color: white;
}

.sidebar .side-menu li a.active svg{
    fill: white;
}


.side-menu li a:hover {
    margin-left: 0.3rem;
    background-color: var(--grey); 
    color: var(--light-success);
}

.side-menu li a svg:hover {
   fill: var(--light-primary);
}

.submenu {
    max-height: 0; 
    padding-left: 30px;
    overflow: hidden;
    opacity: 0; 
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.submenu.show {
    opacity: 1;
    max-height: 300px; /* Expand submenu */
}

.submenu-arrow {
    transition: transform 0.3s ease;
}

.submenu li {
    list-style: none;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    padding: 5px 15px;
    display: block;
    font-size: 14px;
}

.content{
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content main .initial-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: auto;
    min-height: calc(100vh - 80px);
    animation: fadeIn 0.4s ease-in-out;
}

.content nav{
    background-color: white;
    height: 65px;
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 900;
}

.content nav .div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.content nav a{
    color: var(--primary);
}

.content nav svg.menu{
    position: relative;
    cursor: pointer;
    color: var(--dark);
    margin-left: 0.3rem;
    min-width: 40px;
}

.content nav svg.menu:hover{
    fill: var(--light-success);
    transition: fill 0.3s ease;
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    flex-grow: 1;
    min-width: 200px;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
} 

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: rgb(246, 246, 246);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: rgb(66, 63, 63);
}

.content nav form .form-input button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 122, 122);
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
    width: 60px;
}

.content nav form .form-input button svg{
    fill: var(--light);
    height: 30px;
    width: 30px;
}

.content nav .updates{
    font-size: 20px;
    position: relative;
}

.content nav .updates .count{
    position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff5252;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content nav .profile img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid teal;
}

.profile-submenu {
    position: absolute;
    top: 70px; /* adjust based on your nav height */
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000;
    min-width: 200px;
}

.profile-submenu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.profile-submenu ul li {
    padding: 10px 20px;
}

.profile-submenu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-submenu ul li a h5{
    font-size: 15px;
    font-weight: 400;
}

.profile-submenu ul li:hover {
    background-color: #f0f0f0;
}

#logout:hover {
    background-color: #ffe5e5;
}

hr{
    border: 0.3px solid teal;
    margin-bottom: 15px;
}

.content main {
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--light-primary);
}

.content main {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    color: #008080;
    margin-bottom: 30px;
}

.content main .header h1 {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
}

.content main .header h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background: #4ccbcb;
    border-radius: 2px;
}



.content main .header .add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(12, 12, 85);
    color: whitesmoke;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    gap: 1px;
    border: none;
    transition: all 0.3s ease-out;
}

.content main .header .add-btn:hover{
    background-color: teal;
}

.content main .breadcrumb{
    font-size: 17px;
    margin: 5px 0;
}

hr{
    border: 0.3px solid teal;
    margin-bottom: 15px;
}

.Action a{
    gap: 12px;
}


@media screen and (max-width: 768px) {

    .sidebar{
        width: 200px;
        z-index: 5000;
        left: 0;
    }

    .sidebar .top svg{
        display: block;
    }


    .sidebar .logo{
        font-size: 16px;
    }

    .sidebar.close~.content{
        width: calc(100% - 60px);
        left: 60px;
    }

    .content{
        width: calc(100% - 60px);
        left: 60px;
    }
    
    .sidebar .side-menu li.active::before{
        display: none;
        box-shadow: none;
    }

    .sidebar .side-menu li.active::after{
        display: none;
        box-shadow: none;
    }

    .content main .item-orders table tbody tr{
        font-size: 14px;
    }

    .content nav {
        padding: 10px;
        gap: 16px;
    }

    .content nav .div {
        gap: 18px;
    }

    .content nav form {
        width: 100%;
        margin-right: 0;
    }

    .content nav .updates {
        order: 1;
    }

    .content nav .profile {
        order: 2;
    }

    .form-input {
        width: 200px;
    }

    .menu-bar {
        overflow-x: auto;
        padding: 0 10px;
    }

    nav {
        padding: 10px 15px;
    }

}

@media (max-width: 576px) {
    .form-input {
    display: none;
    }

    .menu-bar {
        justify-content: space-between;
    }

    main {
        padding: 15px;
    }

}


@media screen and (max-width: 480px){

    .sidebar.close{
        width: 0px;
        transition: all 0.3s ease;
    }

    .sidebar.close~.content{
        width: 100%;
        left: 0px;
    }

    .content{
        width: 100%;
        left: 0px;
    }

    main h1{
        font-size: 16px;
    }

    main table tr,th,td{
        font-size: 12px;
    }

    .content nav {
        flex-direction: column;
        height: auto;
        align-items: stretch;
    }

    .content nav .logo-box {
        justify-content: flex-start;
    }

    .content nav .profile img {
        width: 40px;
        height: 40px;
    }

    .content nav form .form-input button svg {
        height: 24px;
        width: 24px;
    }

    .content nav .updates .count {
        font-size: 0.6rem;
        width: 16px;
        height: 16px;
    }
}
