main{
    display: flex;
    flex-direction: column;
    height: calc(100%-55px);
    gap: 20px;
}

main .top{
    height: 60%;
    background-image: url('../../Images/sri-lanka-sh-conde-nast-traveller-27jul20-1129567869.jpg'); /* Update with your image path */
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    font-weight: 800;
    font-size: 25px;
    color: rgb(255, 255, 255); 
    line-height: 60px;
    filter :opacity(0.9);
    border-radius: 10px;
}

main .top .bar .group{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .top .bar .group button{
    flex-direction: column;
    align-items: center;
}

main .bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

main .bottom button{
    display: flex;
    background-color: teal;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .bottom button :hover{
    transform: scale(0.1px);
}

.bar-in{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color:white;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin: 0;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bar-in .group{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.bar-in li { 
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

.bar-in li input{
    width: 100%;
    border: none;
    background-color:#eeecec;
    height: 30px;
    border-radius: 30px;
    padding: 0 20px;
}

.bar-in li button {
    background: teal;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in;
}

.bar-in li button:hover{
    background: rgb(20, 90, 90);
}

.bar-in:hover{
    box-shadow: none;
    transition: all 0.3s ease-in;
}

.bar-in li button svg:hover{
    fill: whitesmoke;
}